html {
    background-image: url("../images/cake.jpg");
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 98%;
}

#wrap {
    margin: auto;
    width: 90%;
    height: 95%;
}

#container {
    width: 100%;
    height: 80%;
}

#vidBg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    overflow: hidden;
}

    #vidBg video {
        position: inherit;
        width: 89%;
        height: 81%;
        overflow: hidden;
        opacity: 0.5;
    }

.board {
    width: 100%;
    height: 100%;
    border: solid 4px #ffffff;
    border-radius: 5px;
    box-shadow: 2px 5px 20px -2px rgba(100, 100, 100, 0.8);
}

#forms {
    width: 99%;
    height: 18%;
    margin-top: 1.5%;
    padding: 0.5%;
    border-radius: 5px;
    border: solid 4px #ffffff;
    text-shadow: 1px 1px 5px rgba(10, 10, 10, 0.5);
    background-color: rgba(221, 221, 221, 0.25);
    box-shadow: inset 0px 0px 6px 0px rgba(70, 70, 70, 0.7), 2px 5px 20px -2px rgba(100, 100, 100, 0.8);
}

#form_ticket {
    width: 70%;
    display: inline-block;
    float: left;
}

#bin {
    border: solid 4px rgba(255, 255, 255, 0.56);
    height: 70%;
    width: 20%;
    padding-top: 1.5%;
    float: right;
    margin-right: 3%;
    margin-top: 1%;
    border-radius: 5px;
    text-align: center;
}

#icon {
    font-size: 5em;
    color: rgba(100, 100, 100, 0.6);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

input {
    font-size: medium;
    margin: 3px;
    border-radius: 2px;
}

input:focus{
    outline: 0;
}

.column {
    text-align: center;
    display: inline-block;
    float: left;
    width: 25%;
    height: 100%;
    background-color: rgba(220, 220, 220, 0.5);
}

.column:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.5);
}

header {
    background-color: rgba(245, 245, 245, 0.90);
    height: 8%;
    font-size: x-large;
    padding-top: 10%;
    color: #C3C3C3;
    text-shadow: 1px 1px 1px rgba(6, 6, 6, 0.53);
}

section {
    height: 90%;
}

.ticket {
    font-size: small;
    color: black;
    font-weight: 500;
    text-align: left;
    text-shadow: none;
    background-color: snow;
    width: 66%;
    height: 15%;
    box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.36);
    margin: 2%;
    border-radius: 3px;
}

span.titleT {
    font-weight: 600;
    display: inline;
    float: left;
}

#errorMsg {
    color: #6a6a6a;
}


