html {
    /*background-image: url("http://2013.jsconf.eu/img/js.eu.png");*/
    background-image: url("../images/cake.jpg");
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 98%;
}

#wrap {
    margin: auto;
    width: 90%;
    height: 98%;
    /*background-color: rgba(255, 196, 174, 0.66);*/
}

#board_container {
    width: 100%;
    height: 78%;
}

#vidBg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    overflow: hidden;
}

    #vidBg video {
        position: inherit;
        width: 89%;
        height: 81%;
        overflow: hidden;
        opacity: 0.5;
    }

.board {
    width: 100%;
    height: 100%;
    border: solid 4px #ffffff;
    border-radius: 5px;
    box-shadow: 2px 5px 20px -2px rgba(100, 100, 100, 0.8);
    background-image: url("http://2013.jsconf.eu/img/js.eu.png");
    background-size: cover;
}

#control {
    width: 100%;
    height: 17%;
    margin-top: 1.2%;
    border-radius: 5px;
    border: solid 4px #ffffff;
    text-shadow: 1px 1px 5px rgba(10, 10, 10, 0.5);
    /*background-color: rgba(221, 221, 221, 0.25);*/
    background-color: rgba(255, 0, 148, 0.66);
    box-shadow: inset 0px 0px 6px 0px rgba(70, 70, 70, 0.7), 2px 5px 20px -2px rgba(100, 100, 100, 0.8);
}

#form_ticket {
    display: inline-block;
    float: left;
    background-color: rgba(120, 68, 114, 0.66);
}

input {
    font-size: medium;
    margin: 3px;
    border-radius: 2px;
}

input:focus{
    outline: 0;
}

.column {
    text-align: center;
    display: inline-block;
    float: left;
    width: 25%;
    height: 100%;
    background-color: rgba(220, 220, 220, 0.5);
}

.column:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.5);
}

header {
    background-color: rgba(245, 245, 245, 0.90);
    height: 8%;
    font-size: x-large;
    padding-top: 10%;
    color: #C3C3C3;
    text-shadow: 1px 1px 1px rgba(6, 6, 6, 0.53);
}

section {
    height: 90%;
}

.ticket {
    font-size: small;
    color: black;
    font-weight: 500;
    text-align: left;
    text-shadow: none;
    background-color: rgba(255, 255, 255, 0.9);
    width: 66%;
    height: 15%;
    box-shadow: 1px 1px 5px 0px rgba(60, 60, 60, 0.5);
    margin: 2%;
    border-radius: 3px;
}

span.titleT {
    font-weight: 600;
    display: inline;
    float: left;
}

#icon {
    font-size: 5em;
    color: rgba(100, 100, 100, 0.6);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

#bin {
    border: solid 4px rgba(255, 255, 255, 0.56);
    height: 62%;
    width: 20%;
    padding-top: 1.2%;
    float: right;
    margin-right: 3%;
    margin-top: 1.5%;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(120, 120, 120, 0.66);
}

#icon_bin {
    font-size: 5em;
    color: rgba(100, 100, 100, 0.6);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

#bgImage {
    display: inline-block;
    background-color: rgba(252, 255, 165, 0.66);
}

#control_sections {
    float: left;
    width: 73%;
    height: 100%;
    background-color: rgba(168, 153, 149, 0.85);
    overflow: scroll
}

#errorMsg {
    height: 2.3%;
    width: 100%;
    margin-top: 0.35%;
    border: solid 4px #ffffff;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 600;
    color: #6E5353;
    text-shadow: 1px 1px 3px rgba(10, 10, 10, 0.5);
    box-shadow: inset 0px 0px 6px 0px rgba(70, 70, 70, 0.6), 2px 5px 20px -2px rgba(100, 100, 100, 0.8);
    display: none;
    background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 550px) {
    .column {
        width: 100%;
        height: 25%;
    }
    #wrap {
        height: 150%;
    }
    header {
        height: 10%;
        padding: 0;
        font-size: larger;
    }
    .ticket {
        font-size: small;
    }
}
